.bg-border-lightblue {
    background-color: #b3dcff;
    border: 1px solid #b3dcff;
}
.bg-border-yellowgreen {
    background-color: #7ac143;
    border: 1px solid #7ac143;
}
.bg-border-orange {
    background-color: #f47721;
    border: 1px solid #f47721;
}
.bg-border-green {
    background-color: #34bf49;
    border: 1px solid #34bf49;
}
.bg-border-yellow {
    background-color: #ffdd00;
    border: 1px solid #ffdd00;
}
.bg-border-red {
    background-color: #ff0000;
    border: 1px solid #ff0000;
}
.color-red {
    color: #ff0000;
    font-weigth: 700;
}
.color-green {
    color: #237f52;
    font-weigth: 700;
}
.color-lightblue {
    color: #146eb4;
    font-weigth: 700;
}
.color-yellow {
    color: #f47721;
    font-weigth: 700;
}
