
/* styles for home page image animation */
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    65%{
        transform: translateX(-100%);
    }
    70%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
}

.slider-container{
    overflow: hidden;
    border: 10px solid #fff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
}

.slider-wrapper{
    width: 100%;
    display: flex;
    animation: slide 15s infinite;
}

.contacts {
    display: flex;
    padding: 5px 0;
}
.contacts img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.page-content {
    padding: 2rem 2rem 4rem 2rem;
}
#student-id {
    margin-top: -12px;
    font-size: 12px;
}
.user-options {
    padding-bottom: 10px;
    text-align: center;
}
.user-options a {
    margin: 2px 3px 2px 3px;
    padding: 5px 10px;
    background-color: #136ad5;
    color: #fff;
    font-weight: 500;
    border: 1px solid #136ad5;
    border-radius: 4px;
}
.user-options a:hover {
    background-color: #fff;
    color: #136ad5;
}

#announcement-container {
    display: none;
}

#announcement-container a {
    background-color: #fff;
    color: #136ad5;
    border-bottom: .1px solid #eee;
    padding: 8px;
    font-size: 14px;
}
#announcement-container a:hover {
    background-color: #0099e5;
    color: #fff;
}

.icon-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.icon-container img {
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.icon-container p {
    margin: .5rem auto;
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 0 15px;
    border: 1px solid #ddd;
    background-color: #ddd;
}
nav #schoolname {
    font-size: 22px;
    font-family: serif;
    font-weight: bold;
    padding: 0;
    position: relative;
    margin-left: .5rem;
}
nav #tagname {
    margin: -5px;
    padding: 0 0 10px 0;
    font-size: 14px;
    color: #808080;
    word-spacing: 5px;
    text-align: center;
    letter-spacing: 2px;
}
.logo-name-container {
    display: flex;
}
nav .menus {
    /*padding-top: 15px;*/
          display: flex;
          gap: .5em;
          font-size: 15px;
      }
      .menus li {
	  list-style: none;
          padding: 10px;
      }
      .menus a {
          font-size: 14px;
      }
      .position-icons {
          display: grid;
          grid-template-columns: 1fr 3fr;
          padding: 10px 0;
      }
      nav .menus a {
          text-decoration: none;
          color: #000000;
          font-weight: 500;
          font-size: 16px;
      }
      nav .menus li a:hover {
	  color: #808080;
      }

.company-bg-image {
    width: 100%;
}
.landing-page-content-container {
    padding: 1rem 1rem;
}
.landing-page-titles {
    font-weight: bold;
    color: #555;
}
.landing-page-contents {
    color: #808080;
    padding: 0 10rem;
}
.back-nav-container {
    display: flex;
    flex-direction: row;
    background-color: #0069d9;
    color: var(--white);
    position: sticky;
    top: 0;
    padding: .5rem 0;
    z-index: 999;
}
.back-nav-container > .arrow-back {
    margin: 0 0 0 .5rem;
}
.back-nav-container > .back-nav-title {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin: 0 0 0 1.5rem;
}
.blog-container {
    display: flex;
    margin: 1.5rem 0;
    padding: 1rem;
}
.blog-container:hover {
    background-color: #ddd;
    border-radius: .2rem;
    border: 1px solid #ccc;
}
.blog-container img {
    height: 8rem;
    width: 12rem;
    object-fit: cover;
}
.blog-container .blog-title {
    padding-left: 2rem;
    flex: 1;
    color: #000000;
}
.blog-title > p:first-child {
    margin: auto;
    font-weight: 500;
    font-size: 1.8rem;
}
.blog-title > p:last-child {
    padding: .5rem 0 0 0;
    font-size: 1.2rem;
    color: #555;
}
.blog-title-show {
    font-weight: 500;
}

:root {
    --blue: #0069d9;
    --white: #fff;
}
.center {
    text-align: center;
}
.company-name {
    margin: auto;
    color: var(--white);
    font-weight: bold;
    font-size: 2.5rem;
}
.company-tag-name {
    position: absolute;
    color: var(--white);
    top: 19%;
    left: 10%;
}
.contact-link-container {
    border: 1px solid red;
    text-align: center;
}

.contact-icon {
    padding: 2.4rem;
    /*background-color: #fff;*/
}
.copyright {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem 0;
    color: #c0c0c0;
}
.faqs-container {
    margin: 2rem 0;
}
.faq-container {
    border: 1px solid #ddd;
}
.faq-title {
    font-weight: 450;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 2px;
    background-color: var(--blue);
    color: #fff;
}
.faq-title:hover {
    background-color: var(--blue);
    color: #fff;
}
.faq-content {
    padding: 1rem;
    color: #020;
}
.faq-content:hover {
    background-color: #ddd;
}
.footer-company-name {
    font-size: 2rem;
    color: #808080;
    text-align: center;
    margin-top: 1rem;
    padding: 2rem 0 .5rem 0;
}
footer {
    background-color: #ddd;
    color: var(--white);
    margin-top: .2rem;
    margin-bottom: -2.5rem;
    padding: 2rem 0 4rem 0;
}
.footer-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 1rem 0 5rem;
}
.footer-options li a {
    color: #555;
}
.footer-options li a:hover {
    color: #000;
}
.footer-options li {
    list-style: none;
    text-align: center;
}
.copyright p {
    margin: 0;
    padding: 0;
    color: #808080;
}
.image-container {
    margin-bottom: 1rem;
}
#expandedImg {
    width: 100%;
    /*max-height: 35rem;*/
    object-fit: cover;
}
/* Expanding image text */
#imgtext {
    margin: -5rem 0 0 1rem;
    padding: 0;
    color: #fff;
    font-size: 20px;
}
.upload-content-details {
    margin: 2.5rem 1rem;
}
.upload-content-details h2 {
    font-weight: bold;
    color: var(--blue);
}
.images-container-show {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.icons-container {
    display: flex;
    text-align: center;
    margin: 3rem 0;
}
.icons-container > * {
    margin: auto;
}
.menu-bottom {
    padding: 2rem 0;
    background-color: var(--blue);
    text-align: center;
    bottom: 0;
    position: sticky;
}
.menu-bottom a {
    color: #fff;
    padding: 2rem 0;
}
.menu-container {
    padding: 1rem;
    background-color: #181818;
}
.menu-container > ul {
    list-style-type: none;
}
.menu-container > ul > li > a {
    font-weight: 350;
    font-size: 1.8rem;
}
.menu-container > ul > li > a:hover {
    font-weight: 550;
    color: var(--blue);
}
.menu-container li {
    border-bottom: 1px solid #ddd;
}
.menu-container li:last-child {
    border: none;
}
.menu-icon {
    margin: .5rem 0 0 .5rem;
    width: 5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-icon:hover {
    border: 1px solid #fff;
    border-radius: 2px;
}
.icon {
    width: 2.5rem;
    height: 0.3rem;
    margin: 1.8px;
    background-color: #fff;
}

.menu-icon:hover ~ .icon {
    background-color: #000000;
}

/* Admin dashboard */
.menu-categories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.menu-categories-container a {
    color: #000000;
    font-weight: 450;
}
.menu-categories-container > a > div:hover {
    background-color: #606c76;
    border: 1px solid #606c76;
}
.menu-category {
    padding: 3rem;
    border-radius: 1rem;
}
.nav-container {
    position: relative;
}
.nav-options-container {
    border: 1px solid var(--blue);
    display: flex;
    flex-direction: column;
    margin: -5rem 0 0 0;
    color: #fff;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 999;
    background-color: var(--blue);
    padding: .5rem 0;
}
.nav-option1-container {
    display: flex;
    justify-content: space-between;
}
.nav-option1-container > .search-icon {
    margin-right: 1rem;
}
.nav-option2-container {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.nav-option2-container a {
    flex: 1;
    text-align: center;
    padding: 1rem 0;
    border-left: 1px solid #ddd;
}
.nav-option2-container a:hover {
    color: var(--blue);
    font-weight: 450;
    border-bottom: 1.5px solid var(--blue);
}
/* The side navigation menu */
.sidenav {
    z-index: 1001;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #6e2585; /*  */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5rem; /* Place content 30px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    font-weight: 450;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.7rem;
    background-color: #6e2585;
    color: #eee;
    display: block;
    transition: 0.15s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #000000;
    background-color: #eee;
    opacity: 0.8;
}

.sub-container {
    background-color: #fff;
    margin-bottom: .2rem;
    padding: 1rem 1.5rem;
}
/*
.under-line {
    border-bottom: 2px solid #c0c0c0;
    width: 15rem;
    margin: 0 auto 1rem auto;
}*/
.uploads-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 2rem 0;
}
.upload-container {
    background-color: #fff;
    /*border: 1px solid #;*/
    margin: .5rem;
    box-shadow: 4px 4px 4px #ddd;
}
.upload-container:hover {
    box-shadow: 4px 4px 4px #ccc;
}
.upload-container img {
    padding: 0;
    margin: 0;
}
.upload-options {
    margin: 2rem 0;
    text-align: center;
}
.upload-options a {
    padding: .6rem 2rem;
    margin: 0 1rem;
    background-color: #fff;
    color: var(--blue);
    border: 1px solid var(--blue);
    font-weight: 450;
    border-radius: 2px;
}
.upload-options a:hover {
    border: 1px solid var(--blue);
    color: #fff;
    background-color: var(--blue);
}
.upload-title-description {
    padding: 0 1rem 1rem 1rem;
}
.upload-title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
}
.book-container-options {
    display: flex;
}
.book-container-options a {
    flex: 1;
    padding: 1rem 3rem;
    margin: 0 1rem;
    background-color: var(--blue);
    color: #fff;
    border: 1px solid var(--blue);
    text-align: center;
    font-weight: 500;
}
.book-container-options a:hover {
    border: 1px solid var(--blue);
    color: var(--blue);
    background-color: #fff;
}
.book-container-show {
    margin: 1.5rem 0;
    display: flex;
}
.book-details-container {
    padding-right: 5rem;
}
.book-container-show img {
    object-fit: cover;
    max-width: 250px;
    max-height: 180px;
    flex: 1;
}
.see-more {
    width: 50%;
    margin: 0 auto;
    display: flex;
}
.see-more a {
    flex: 1;
    text-align: center;
    font-weight: 500;
    padding: 1rem 1.5rem;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: #fff;
}
.see-more a:hover {
    background-color: #fff;
    color: var(--blue);
    border: 1px solid var(--blue);
}

/* The grid: Four equal columns that floats next to each other */
/*.column {
  float: left;
  width: 25%;
  padding: 10px;
}
*/
/* Style the images inside the grid */
.tab-images-container img {
  opacity: 1;
  /*cursor: pointer;*/
}

.tab-images-container img:hover {
    opacity: 1;
    border: 2px solid #ff6a00;
}

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
.tab-images-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}
