@media only screen and (min-width: 768px) {
    body {
        background-image: url("/images/lib-bg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .book-container-show i {
        display: none;
    }
    .main {
	display: grid;
	grid-template-columns: 1fr 3.5fr;
	background-color: #0069d9;
    }
    .side-bar-notifications {
	background-color: red;
	color: #fff;
	padding: .2rem .6rem;
	border-radius: 50%;
	font-weight: bold;
	font-size: 12px;
    }
    .sm-nav-container {
	display: none;
    }
    .sm-user-details {
	display: none;
    }
    .sm-transactions {
	display: none;
    }
    .sidenav {
	display: none;
    }
    .sub-container {
	background-color: #fff;
	/*margin-bottom: -1rem;*/
	padding: 1rem 0 0 .5rem;
    }
    #home-page-content-container {
        display: none;
    }
    .sidenav-container {
	height: 100%;
	/*width: 40%;*/
	background-color: #0069d9; /* Blue */
    }

    /* The navigation menu links */
    .sidenav-container div {
	padding: 5px 8px 5px 25px;
	display: block;
	text-align: left;
    }
    .sidenav-container > div:hover {
	background-color: #fff;
    }
    .sidenav-container > div > a {
	font-size: 1.5rem;
	color: #000;
	font-weight: bold;
	padding-left: 0.8rem;
    }
    .sidenav-container > div > i {
	padding-left: 1rem;
    }
    .icons {
	display: none;
    }
    .page-content {
	display: block;
    }
    .uploads-container {
	display: flex;
	flex-direction: column;
	margin: 1.5rem 0;
	padding: 0 0 2rem 0;
    }
    .upload-container {
	background-color: #fff;
	/*border: 1px solid #;*/
	margin: 0 0 0 .5rem;
	box-shadow: 4px 4px 4px #ddd;
    }
    .upload-container:hover {
	box-shadow: 4px 4px 4px #ccc;
    }
    .upload-container img {
	padding: 0;
	margin: 0;
    }
    .upload-options {
	margin: 2rem 0;
	text-align: center;
    }
    .menu-categories-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
    }
    .menu-categories-container a {
	color: #000000;
	font-weight: 450;
	font-size: 1.8rem;
    }
    .menu-categories-container > a > div:hover {
	background-color: #606c76;
	border: 1px solid #606c76;
    }
    .menu-category {
	padding: 3rem;
	border-radius: 1rem;
    }
    .back-nav-container {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	padding: .5rem 2rem;
    }
    .back-nav-container div > .fa-arrow-left {
	margin-top: .7rem;
	color: #000;
    }
    .back-nav-container > .back-nav-title {
	color: #0069d9;
	font-size: 1.8rem;
	position: relative;
    }
    .back-nav-options {
	margin: .7rem 0 0 0;
	padding: 0 .8rem;
	border-radius: 5px;
	font-weight: 500;
    }
    .logo-name-container {
	padding-left: 1rem;
    }
    #lib-logo {
	max-width: 5.5rem;
	max-height: 5.5rem;
    }
    .logo-name-container > #schoolname {
	color: #fff;
	padding-left: 0.5rem;
    }
    #schoolname > #tagname {
	font-size: 1.6rem;
	color: #000;
    }
    .menus > li > a {
	color: #000;
    }
    .menus > li > a:hover {
	color: #fff;
    }

    #home-page-content-container {
	padding: 3rem 3rem 3rem 2rem;
    }
    .uploads-container {
	/*margin: -1rem;*/
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
  }
  .blogs-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
  }
  footer {
    background-color: #0069d9;
    color: var(--white);
    margin-top: 0;
    padding: 2rem 0 2rem 0;
  }
  .footer-logo-container {
      text-align: center;
      margin-top: 1rem;
  }
  .footer-logo-container > img {
      max-width: 6rem;
      max-height: 6rem;
  }
  .footer-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .2rem;
  }
  .footer-options li a {
      color: #000;
      font-size: 1.5rem;
      font-weight: bold;
  }
  .footer-options li a:hover {
    color: #fff;
  }
  .footer-options li {
    list-style: none;
    text-align: center;
  }
  .copyright p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .footer-company-name {
      margin-top: -1rem;
      color: #fff;
      font-weight: 500;
      font-size: 2rem;
  }

  /* session form */
  .session-form-login {
      background-color: #fff;
        border: 1px solid #eee;
        border-radius: 5px;
        width: 35%;
       /* height: 100%;*/
        margin: 15% auto;
        padding: 2.5rem;
    }

  .session-form {
      background-color: #fff;
        border: 1px solid #eee;
        border-radius: 5px;
        width: 35%;
        /*height: 100%;*/
        margin: 15% auto;
        padding: 2.5rem;
    }
}
