<%= render(AppWeb.SharedView, "back-navigation.html", conn: @conn, title: "Showing FAQ") %>
<div class="sub-container">

  <%= if @current_admin do %>
  <div class="upload-options">
    <%= link "Edit", to: Routes.faq_path(@conn, :edit, @faq) %>
    <%= link "View FAQs", to: Routes.faq_path(@conn, :index) %>
  </div>
  <% end %>

  <h2 class="center"><strong><%= @faq.title %></strong></h2>
  <p><%= raw(as_html(@faq.content)) %></p>
</div>
