
<div class="session-form-login">
  <div><p class="close-btn" onclick="back();">&times</div>
  <%= form_for @book, Routes.book_page_path(@conn, :create), fn f -> %>
  <h3 align="center"><strong>ADD NEW BOOKS</strong></h3>
 
  <label>Book Entries</labe>
  <%= textarea f, :books, placeholder: "Format:\n#isbn,title,author,category,copies" %>
  <div align="center">
    <br /><br />
    <%= submit "Save Books" %>
  </div>
  <% end %>
</div>
