<%= render(AppWeb.SharedView, "back-navigation.html", conn: @conn, title: "About Us") %>

<div class="sub-container">
  <br>
  <h2 class="center">About us content here</h2>
  <br>
</div>

<%= render(AppWeb.SharedView, "footer.html", conn: @conn) %>
