<div class="sub-container">
  <h1>Home Page</h1>
  <%= if @conn.assigns.current_admin do %>
  <%= link "Upload", to: Routes.admin_upload_path(@conn, :new) %>
  <% end %>
  
<%= if @uploads == [] do %>
<p>No uploads here</p>
<% else %>
<%= for upload <- @uploads do %>
    <p><span><strong><%= upload.title %></strong></p> <%= upload.description %></span>
    <% end %>
    <% end %>
    
</div>
