<%= render(AppWeb.SharedView, "back-navigation.html", conn: @conn, title: "Privacy Policy") %>

<div class="center">
  <br>
  <h2 class="center">Privacy policy content here</h2>
  <br>
</div>

<%= render(AppWeb.SharedView, "footer.html", conn: @conn) %>
